In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("spam.csv")

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [8]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [21]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)

In [22]:
df.head()

  Category                                            Message  spam
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
5     spam  FreeMsg Hey there darling it's been 3 week's n...     1
6      ham  Even my brother is not like to speak with me. ...     0

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x=df['Message']
y=df['spam']

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [28]:
x_train,y_train

(160     You are a winner U have been specially selecte...
 2738    Hi Chachi tried calling u now unable to reach ...
 2197           Not much, just some textin'. How bout you?
 3550    I got like $ &lt;#&gt; , I can get some more l...
 79      Its not the same here. Still looking for a job...
                               ...
 563     Geeeee ... I love you so much I can barely sta...
 4782    Yup... Hey then one day on fri we can ask miwa...
 935     Dear Matthew please call 09063440451 from a la...
 2482                    K.:)do it at evening da:)urgent:)
 3785              Dear got train and seat mine lower seat
 Name: Message, Length: 4456, dtype: object,
 160     1
 2738    0
 2197    0
 3550    0
 79      0
        ..
 563     0
 4782    0
 935     1
 2482    0
 3785    0
 Name: spam, Length: 4456, dtype: int64)

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
from sklearn.naive_bayes import MultinomialNB

In [36]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [37]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [38]:
y_pred=clf.predict(x_test)

In [39]:
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [41]:
clf.score(x_test,y_test)

0.981149012567325